.cardContainer{
   height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    background-color: antiquewhite;
    padding: 1em;
    word-wrap: break-word;
}

.serviceName{
    margin-bottom: 0;
    text-align: center;
}

.serviceDescription{
    margin-bottom: 0;
    text-align: center;
}