.homepageLayout{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroSection{
    padding-left: 1.25em;
    width: 100%;
    color: #E507AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    background: url(https://i.gifer.com/Sr86.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.heroTitle{
    margin-bottom: 0;
    font-size: 2em;
}

.heroDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.heroRole{
    margin-bottom: 0;
}


