.homepageLayout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.heroSection{
   
    
    
    min-width: 100%;
    
    color: #E507AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    text-align: center;

    background: url(https://i.gifer.com/Sr86.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.heroTitle{
    margin-bottom: 0;
    font-size: 2em;
    
}

.heroDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.heroRole{
    margin-bottom: 0;
}

.serviceTitle{
    color: #E507AC;
    text-align: center;
}

.serviceSection{
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.projectTitle{
    color: #E507AC;
    text-align: center;
}

.cardContainer{
    display: grid;
    
}

.contactTitle{
    color: #E507AC;
    text-align: center;
}

@media (min-width:600px) {
    .heroSection{
        color: #E507AC;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2em;
        background: url(https://i.gifer.com/OEpv.gif);
        background-repeat: no-repeat;
        background-size: cover;

        .heroTitle{
            font-size: 4.5rem;
            justify-content: space-between;
        }

        .heroDetails{
            padding-bottom: 6em;

             h3{
                font-size: 2.75rem;
            }
             p {
                font-size: 1.75;
                
            }
        }
    }
}