.form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1.25em;
    padding-right: 1.25em;

}

.contactDetails{
    display: flex;
    flex-direction: column;
    padding: 1em;
    p{
        color: white;
        margin: auto;
    }
}

.input{
    margin-bottom: 1em;
    border-radius: 8px;
    border: none;
    height: 2.25rem;
    padding-left: 1em;
}

.messageBox{
    height: 4em;
    margin-bottom: 1em;
    border-radius: 8px;
    border: none;
    height: 9.6rem;
    padding-left: 1em;
    padding-top: .7em;
}

.input::placeholder,
.messageBox::placeholder{
    font-weight: bold;
    opacity: .5;
    color: #E507AC;
}

.submitBtn{
    color: white;
    height: 2.25rem;
    background-color: #E507AC;
    border-radius: 8px;
    border: none;
    margin-bottom: 1em;
}

.submitBtn:hover{
    color: #E507AC;
    background-color: white;
}

.contactImage{
    width: 20px;
    height: 20px;
}

@media (min-width:800px) {
    .form{
        display: flex;
        width: 100%;
      
       align-items: flex-start;
       justify-content: space-around;

       p{
        width: 45%;

        span{
            margin-top: 3em;
        }
       }

       .contactDetails{
        width: 45%;
       }

    }   
}