.contactForm{
    color: white;
}

.form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
   label{
    margin-bottom:.5em ;
    text-align: left;
   }

}



.contactDetails{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    padding: 1em;

    .desktopMessage{
        display: none;
    }
   
}

.input{
    margin-bottom: 1em;
    border-radius: 8px;
    border: none;
    height: 2.25rem;
    padding-left: 1em;
}

.messageBox{
    height: 4em;
    margin-bottom: 1em;
    border-radius: 8px;
    border: none;
    height: 9.6rem;
    padding-left: 1em;
    padding-top: .7em;
}

.input::placeholder,
.messageBox::placeholder{
    font-weight: bold;
    opacity: .5;
    color: #E507AC;
}

.submitBtn{
    color: white;
    height: 2.25rem;
    background-color: #E507AC;
    border-radius: 8px;
    border: none;
    margin-bottom: 1em;
}

.submitBtn:hover{
    color: #E507AC;
    background-color: white;
}

.contactImage{
    width: 20px;
    height: 20px;
}

@media (min-width:800px) {

    .contactForm{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .ContactMessage{
            margin-top: 2em;

            .desktopMessage{
                display: block;
            }
          
            span{
                margin-top: 4em;
            }
        }
        
        .form{
        display: flex;
        width: 100%;
      
       align-items: flex-start;
       justify-content: space-around;

       label{
        margin-bottom: .50em;
       }

       .input, .messageBox{
        width: 100%;
       }

       p{
        width: 60%;

        span{
            margin-top: 3em;
        }
       }

       .contactDetails{
        width: 45%;
       }
       
    }   
}
}