.bioSection{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   color: #fff;
}

.bioImage{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.bioHeading{
   color: #E507AC;
}