.header{
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 1.25rem;
    margin-top: 0;
    margin-bottom: 2px;
    border-radius: 8px 8px 0 0 ;
}

.Logo{
    width: 60px;
    height: auto;

}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
       
}

.link{
    text-decoration: none;
    color: #E507AC; 
}